<article>
    <header class="jumbotron">
        <div class="container text-center">
            <h1 id="pageHeader">Behavior-Driven Development (BDD)</h1>
        </div>
    </header>
    <div class="container text-justify">
        <div class="content-item" style="padding: 1em">
            <h3>What is BDD?</h3>

            <p>
                BDD is a second-generation, outside-in, pull-based, multiple-stakeholder, multiple-scale,
                high-automation, agile methodology. It describes a cycle of interactions with well-defined outputs,
                resulting in the delivery of working, tested software that matters.
            </p>

            <p>
                BDD was created by Dan North as as a response to the issues encountered teaching test-driven
                development (TDD) and is basically a way to rethink the approach to unit testing and acceptance
                testing.
            </p>

            <p>
                For more information about BDD, please check the <a
                    href="http://en.wikipedia.org/wiki/Behavior-driven_development">wikipedia</a> or Dan North's
                introduction about BDD in his <a href="http://dannorth.net/introducing-bdd/">web page</a>.
            </p>
        </div>
        <div class="content-item" style="padding: 1em">
            <h3>Brief explanation of how does BDD work</h3>

            <p>
                BDD stories consist basically of a title, the narrative and the acceptance criteria.
            </p>
            <ul>
                <li><strong>Title:</strong> This is typically one line representing the story.</li>
                <li><strong>Narrative:</strong> It tries to specify a feature, a role and a benefit by using a
                    template such as: As a "role" I want to "feature" so that "benefit"
                </li>
                <li><strong>Acceptance Criteria:</strong> The acceptance criteria tries to define under which
                    conditions the story is considered to be met. It consists of one or more scenarios that define
                    this criteria.
                </li>
            </ul>
            <p>
                For more detailed information about BDD stories, please check Dan North's section <a
                    href="http://dannorth.net/whats-in-a-story/">what is a story</a>
            </p>
        </div>
        <div class="content-item" style="padding: 1em">
            <h3>BDD Frameworks</h3>
            <p>
                There have been many BDD frameworks that are flourishing lately, being among the most important
                ones:
            </p>
            <ul>
                <li><a href="http://jbehave.org/">JBehave</a></li>
                <li><a href="http://cukes.info/">Cucumber</a></li>
                <li><a href="http://jasmine.github.io/">Jasmine</a></li>
            </ul>
            <p>
                In <a href="http://java.dzone.com/articles/brief-comparison-bdd">Javalobby</a> you can see a
                comparison of some of those frameworks
            </p>
        </div>
    </div>
</article>