<article>
    <header class="jumbotron">
        <div class="container text-center">
            <h1 id="pageHeader">BDD Assistant</h1>
        </div>
    </header>
    <div class="container text-justify">
        <h3>What is BDD Assistant</h3>
        <p>
            BDD Assistant is an open source project that pretends to facilitate the creation and execution of Behavior Driven Development (BDD) stories as a way to better define the requirements.
            Latest release can be downloaded from <a href="https://github.com/TechnologyConversations/TechnologyConversationsBdd/releases">TechnologyConversationsBdd releases</a>.
        </p>
        <p>
            The application consists of the following two Github repositories:
            <ul>
                <li><a href="https://github.com/TechnologyConversations/TechnologyConversationsBdd">TechnologyConversationsBdd</a>: It is the repository that contains the editor, runner, composites, etc... see in the components below for more information.</li>
                <li><a href="https://github.com/TechnologyConversations/TechnologyConversationsBddSteps">TechnologyConversationsBddSteps</a>: This repository contains a set of predefined web steps that cover basic web operations (click link, select element, check text, etc...)</li>
            </ul>
        </p>
        <p>
            BDD Assistant provides you with a web interface that allows you to use the following components:
        <ul>
            <li>BDD story editor: One of the most important features in the BDD assistant is the possibility to create
                new BDD stories by using the editor that comes in the site.
            </li>
            <li>BDD story runner: The BDD Assistant allows you to run any story that can be accessed from the Story
                repository. Since this project is initially based in BDD stories for Web sites, it allows running these
                stories against the web site for which represent the requirements.
            </li>
            <li>Story repository: Once you've finished writing your stories, you can save them and they'll remain in the
                story repository for later reading, modification or execution.
            </li>
            <li>Set of Web Steps: The BDD Assistant comes with a predefined set of Web Steps for its first version.</li>
            <li>Composites manager: This module allows the management of composites for later usage in the stories. More
                about composites
            </li>
        </ul>
        </p>
    </div>
</article>