<article>
    <header class="jumbotron">
        <div class="container text-center">
            <h1 id="pageHeader">Contact Us</h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                We are looking for early adopters to help us out.
                If you are interested in trying out the BDD Assistant, would like to contribute or have a question, please fill in this form and we'll get back to you soon.
            </div>
            <div class="col-md-9">
                <!-- Do not change the code! -->
                <a id="foxyform_embed_link_582427" href="http://www.foxyform.com/">foxyform</a>
                <script type="text/javascript">
                    (function(d, t){
                        var g = d.createElement(t),
                                s = d.getElementsByTagName(t)[0];
                        g.src = "http://www.foxyform.com/js.php?id=582427&sec_hash=cad8979289f&width=350px";
                        s.parentNode.insertBefore(g, s);
                    }(document, "script"));
                </script>
                <!-- Do not change the code! -->
            </div>
        </div>
    </div>
</article>