<article>
    <header class="jumbotron">
        <div class="container text-center">
            <h1 id="pageHeader">Welcome to BDD Assistant</h1>

            <p class="lead">Innovative approach to software development and testing.</p>
        </div>
    </header>
    <div class="container text-justify">
        <div class="row text-center">
            <div class="col-md-12">
                <iframe width="853" height="480" src="//www.youtube.com/embed/RTBsbxm0nUc?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <br />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 id="bddSummaryHeader" class="panel-title">What is Behavior Driven Development?</h3>
                    </div>
                    <div id="bddSummaryBody" class="panel-body">
                        <p>
                            BDD is a second-generation, outside-in, pull-based, multiple-stakeholder, multiple-scale,
                            high-automation, agile methodology. It describes a cycle of interactions with well-defined
                            outputs, resulting in the delivery of working, tested software that matters.
                        </p>

                        <p>
                            BDD was created by Dan North as as a response to the issues encountered teaching test-driven
                            development (TDD) and is basically a way to rethink the approach to unit testing and
                            acceptance testing.
                        </p>
                    </div>
                    <div id="bddSummaryFooter" class="panel-footer">
                        <a id="bddSummaryMore" href="#/page/bdd">More about the Behavior-Driven Development (BDD)
                            &gt;</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 id="bddAssistantSummaryHeader" class="panel-title">BDD Assistant</h3>
                    </div>
                    <div id="bddAssistantSummaryBody" class="panel-body">
                        <p>
                            BDD Assistant is an open source project that pretends to facilitate the creation and
                            execution of Behavior
                            Driven Development (BDD) stories as a way to better define the requirements.
                            Latest release can be downloaded from <a href="https://github.com/TechnologyConversations/TechnologyConversationsBdd/releases">TechnologyConversationsBdd releases</a>.
                        </p>
                        <p>
                            Software is still in early stages.
                            We are looking for early adopters to help us out.
                            If you are interested in trying it out, please go to our <a href="#/page/contact">contact page</a>.
                        </p>
                    </div>
                    <div id="bddAssistantSummaryFooter" class="panel-footer">
                        <a id="bddAssistantSummaryMore" href="#/page/bddAssistant">More about the BDD Assistant &gt;</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</article>