<div ng-include="'/partials/tutorialHeader.html'"></div>

<div class="container">
    <div class="row">
        <aside class="col-md-3" ng-include="'/partials/tutorialIndex.html'">
        </aside>
        <main class="col-md-9">
            <article>
                <header class="pageHeader">
                    <h3 id="pageSubheader">
                        Navigation
                    </h3>
                </header>
                <div>
                    <p>
                        <a href="http://demo.bddassistant.com/page/tour/?tour=navigation" class="btn btn-primary" target="_blank">
                            Tour the navigation in the demo application <span class="glyphicon glyphicon-film"></span>
                        </a>
                    </p>
                    <p>
                        The main purpose of the navigation menu is to provide quick links to major sections of the application as well as the information about the current location.
                    </p>
                    <p>
                        Navigation menu consists of the <strong>page title</strong>, <strong>Browse Stories</strong>, <strong>Browse Composites</strong> and <strong>Run Stories</strong>.
                    </p>
                    <ul>
                        <li><strong>Page title</strong> displays information about the current location (i.e. View Story) and links to the home screen.</li>
                        <li><strong>Browse Stories</strong> displays the dialog that can be used to open an existing or create a new story.</li>
                        <li><strong>Browse Composites</strong> displays the dialog that can be used to open an existing or create a new composites class.</li>
                        <li><strong>Run Stories</strong> displays the dialog that can be used to select one or more stories and directories with stories that will be run.</li>
                    </ul>
                    <figure>
                        <img src="/img/tutorialNavigation.png">
                    </figure>
                </div>
            </article>
        </main>
    </div>
</div>