<div ng-include="'/partials/tutorialHeader.html'"></div>

<div class="container">
    <div class="row">
        <aside class="col-md-3" ng-include="'/partials/tutorialIndex.html'">
        </aside>
        <main class="col-md-9">
            <article>
                <header class="pageHeader">
                    <h3 id="pageSubheader">Composites Operations</h3>
                </header>
                <div>
                    <p>
                        <a href="http://demo.bddassistant.com/page/composites/TcBddComposites.groovy?tour=composites" class="btn btn-primary">
                            Tour composites form and operations <span class="glyphicon glyphicon-film"></span>
                        </a>
                    </p>
                    <figure class="pull-right">
                        <img src="/img/tutorialCompositesOperations.png">
                    </figure>
                    <p>
                        Following operations are allowed: create new composites, update existing composites, revert changes and delete composites.
                    </p>
                </div>
                <section>
                    <h4>
                        Create new composites
                    </h4>
                    <p>
                        If specified composites class does not exist, the "Create New Composites" button can be used.
                    </p>
                </section>
                <section>
                    <h4>
                        Update composites
                    </h4>
                    <p>
                        Existing composites can be updated using the "Update Composites" button.
                    </p>
                </section>
                <section>
                    <h4>
                        Revert changes
                    </h4>
                    <p>
                        Any change made to composites can be reverted to the version created on the last save.
                        To revert composites, click the "Revert Changes" button.
                        This operation cannot be undone.
                        If there were no changes in composites, the button is disabled.
                    </p>
                </section>
                <section>
                    <h4>
                        Delete composites
                    </h4>
                    <p>
                        Any composites class can be deleted.
                        This operation cannot be undone.
                        If the composites class was not previously saved in the server, the button is disabled.
                    </p>
                </section>
            </article>
        </main>
    </div>
</div>