<div ng-include="'/partials/tutorialHeader.html'"></div>

<div class="container">
    <div class="row">
        <aside class="col-md-3" ng-include="'/partials/tutorialIndex.html'">
        </aside>
        <main class="col-md-9">
            <article>
                <figure class="pull-right">
                    <img src="/img/tutorialCompositeClasses.png">
                </figure>
                <header class="pageHeader">
                    <h3 id="pageSubheader">Browse Composites</h3>
                </header>
                <div>
                    <p>
                        Composites are convenient way to define new steps composed of one or more predefined steps.
                        Further on, composites are grouped into composite classes.
                        Browse Composites dialog allows users to create new or open an existing composites class.
                    </p>
                    <p>
                        Click the <strong>Browse Composites</strong> in the <strong>navigation menu</strong> to open the dialog.
                        Once inside, you can open any composites class.
                        New composites class can be created by typing the name in the search field and clicking the <strong>Create New Composites Class</strong> (<span class="glyphicon glyphicon-plus"></span>) icon.
                    </p>
                </div>
            </article>
        </main>
    </div>
</div>