<div ng-include="'/partials/tutorialHeader.html'"></div>

<div class="container">
    <div class="row">
        <aside class="col-md-3" ng-include="'/partials/tutorialIndex.html'">
        </aside>
        <main class="col-md-9">
            <article>
                <figure class="pull-right">
                    <img src="/img/tutorialStories.png">
                </figure>
                <header class="pageHeader">
                    <h3 id="pageSubheader">
                        Browse Stories
                    </h3>
                </header>
                <div>
                    <p><a href="http://demo.bddassistant.com/page/tour/?tour=browse_stories&openMenu=openStory" class="btn btn-primary pull-right">Tour the navigation in the demo application <span class="glyphicon glyphicon-film"></span></a></p>
                    <p>
                        Browse Stories dialog allows users to navigate directories and stories, create new directories, create new stories, open or delete an existing story.
                    </p>
                    <p>
                        Click the <strong>Browse Stories</strong> in the <strong>navigation menu</strong> to open the dialog.
                        Once inside, you can navigate through directories (<span class="glyphicon glyphicon-book"></span>) and open any story (<span class="glyphicon glyphicon-file"></span>).
                        New directory can be created by typing the name in the search field and clicking the <strong>Create New Directory</strong> (<span class="glyphicon glyphicon-plus"></span>) icon.
                        <strong>Create New Story</strong> allows story creation in the selected directory.
                        Each story is followed with the <strong>Delete Story</strong> (<span class="glyphicon glyphicon-remove"></span>) icon.
                    </p>
                </div>
            </article>
        </main>
    </div>
</div>