<div ng-include="'/partials/tutorialHeader.html'"></div>

<div class="container">
    <div class="row">
        <aside class="col-md-3" ng-include="'/partials/tutorialIndex.html'">
        </aside>
        <main class="col-md-9">
            <article>
                <header class="pageHeader">
                    <h3 id="pageSubheader">Composites Form</h3>
                </header>
                <div>
                    <p>
                        <a href="http://demo.bddassistant.com/page/composites/TcBddComposites.groovy?tour=composites" class="btn btn-primary" target="_blank">
                            Tour composites form and operations <span class="glyphicon glyphicon-film"></span>
                        </a>
                    </p>
                    <figure class="pull-right">
                        <img src="/img/tutorialCompositesForm.png">
                    </figure>
                    <p>
                        Composites Form is a representation of a composites class.
                        It is divided into 3 parts: Class Name, Composites and Composite Steps.
                    </p>
                </div>
                <section>
                    <h4>Class Name</h4>
                    <p>
                        Class Name is the unique identifier of a set of composites.
                    </p>
                </section>
                <section>
                    <h4>Composites</h4>
                    <div>
                        All composites are listed on the left-hand side of the screen.
                        Buttons in this list can be used to add (<span class="glyphicon glyphicon-plus"></span>) and remove (<span class="glyphicon glyphicon-remove"></span>) composites.
                        The search field can be used to filter composites.
                    </div>
                </section>
                <section>
                    <figure class="pull-right">
                        <img src="/img/tutorialCompositesFormCompositeSteps.png">
                    </figure>
                    <h4>Composite Steps</h4>
                    <div>
                        Each composite consists of one or more steps.
                        Click on the desired composite (or create a new one) to open the composite form.
                        Composite form consists of composite name and steps.
                        Steps can be added (<span class="glyphicon glyphicon-plus"></span>), moved (<span class="glyphicon glyphicon-move"></span>) and removed (<span class="glyphicon glyphicon-remove"></span>).
                        Steps support the auto-complete feature.
                        Start writing the word that identifies some step and the GUI will display the list of candidates.
                        Once the desired step is found, space of enter key will add it to the corresponding field.
                    </div>
                </section>
            </article>
        </main>
    </div>
</div>