<div ng-include="'/partials/tutorialHeader.html'"></div>

<div class="container">
    <div class="row">
        <aside class="col-md-3" ng-include="'/partials/tutorialIndex.html'">
        </aside>
        <main class="col-md-9">
            <article>
                <header class="pageHeader">
                    <h3 id="pageSubheader">Single Story runner</h3>
                </header>
                <div>
                    <figure class="pull-right">
                        <img src="/img/singleStoryRunnerParams.png">
                    </figure>
                    <div>
                        Single Story Runner is commonly used during the specification and development of some story.
                        After scenarios are written, developers should use the BDD in the TDD fashion:
                        <ul>
                            <li>Run scenarios and confirm that at least one has failed or has pending steps</li>
                            <li>Implement the first scenario that failed or has pending steps</li>
                            <li>Run scenarios and confirm that the previous scenario that failed or had pending steps is working</li>
                            <li>Refactor</li>
                            <li>Repeat</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Run Story</h3>
                        <p>
                            Once inside a story, it can be run by clicking the "Run Story" button.
                        </p>
                    </div>
                    <div>
                        <h3>Run Story parameters dialog</h3>
                        <p>
                            <a href="http://demo.bddassistant.com/page/stories/view/tcbdd/login/login?tour=single_story_runner&openModal=openRunStory" class="btn btn-primary" target="_blank">
                                Tour the run stories parameters dialog <span class="glyphicon glyphicon-film"></span>
                            </a>
                        </p>
                        <p>
                            "Run Story" action brings the story runner dialog that can be used to set required parameters.
                            For example, browser type and size can be specified in the story runner dialog.
                            To proceed and run the specified story using parameters set in this dialog, click the "Run Story" button.
                        </p>
                    </div>
                    <div>
                        <h3>Run Story outcome</h3>
                        <div>
                            <h4>Run Story execution status</h4>
                            <p>
                                Once the story run starts, a progress bar will appear in the top right corner of the screen.
                                After the story run is finished, the progress bar changes its status to successful or failed depending on the outcome.
                            </p>
                            <h4>Pending steps</h4>
                            <p>
                                If a story that was run contains pending steps, they will be listed inside the story run outcome section.
                                To create the implementation of a pending step, please click on the corresponding link.
                            </p>
                            <h4>Reports</h4>
                            <p>
                                Detailed report on the execution of all scenarios is provided as well.
                                If there are pending or failed steps, they are marked appropriately.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>