<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 id="bddSummaryHeader" class="panel-title">Behavior-Driven Development (BDD)</h3>
    </div>
    <div id="bddSummaryBody" class="panel-body">
        TODO
    </div>
    <div id="bddSummaryFooter" class="panel-footer">
        <a id="bddSummaryMore" href="#/page/bdd">More about the Behavior-Driven Development (BDD) &gt;</a>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 id="bddAssistantSummaryHeader" class="panel-title">BDD Assistant</h3>
    </div>
    <div id="bddAssistantSummaryBody" class="panel-body">
        TODO
    </div>
    <div id="bddAssistantSummaryFooter" class="panel-footer">
        <a id="bddAssistantSummaryMore" href="#/page/bddAssistant">More about the BDD Assistant &gt;</a>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 id="tutorialSummaryHeader" class="panel-title">Tutorial</h3>
    </div>
    <div id="tutorialSummaryBody" class="panel-body">
        TODO
    </div>
    <div id="tutorialSummaryFooter" class="panel-footer">
        <a id="tutorialSummaryMore" href="#/page/tutorial">More about Tutorial &gt;</a>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 id="tcSummaryHeader" class="panel-title">Technology Conversations</h3>
    </div>
    <div id="tcSummaryBody" class="panel-body">
        TODO
    </div>
    <div id="tcSummaryFooter" class="panel-footer">
        <a id="tcSummaryMore" href="#/page/tc">More about Technology Conversations &gt;</a>
    </div>
</div>