<article>
    <header class="jumbotron">
        <h1 id="pageHeader">Welcome to BDD Assistant</h1>
    </header>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 id="bddSummaryHeader" class="panel-title">Behavior-Driven Development (BDD)</h3>
        </div>
        <div id="bddSummaryBody" class="panel-body">
            TODO
        </div>
        <div id="bddSummaryFooter" class="panel-footer">
            <a id="bddSummaryMore" href="#/page/bdd">More about the Behavior-Driven Development (BDD) &gt;</a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 id="bddAssistantSummaryHeader" class="panel-title">BDD Assistant</h3>
        </div>
        <div id="bddAssistantSummaryBody" class="panel-body">
            TODO
        </div>
        <div id="bddAssistantSummaryFooter" class="panel-footer">
            <a id="bddAssistantSummaryMore" href="#/page/bddAssistant">More about the BDD Assistant &gt;</a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 id="tutorialSummaryHeader" class="panel-title">Tutorial</h3>
        </div>
        <div id="tutorialSummaryBody" class="panel-body">
            TODO
        </div>
        <div id="tutorialSummaryFooter" class="panel-footer">
            <a id="tutorialSummaryMore" href="#/page/tutorial">More about Tutorial &gt;</a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 id="tcSummaryHeader" class="panel-title">Technology Conversations</h3>
        </div>
        <div id="tcSummaryBody" class="panel-body">
            <p>
                TechnologyConversations.com is the result of after-the-office-hours talks between Viktor Farcic and Jordi Falguera.
                We would go to a bar or a pub, order a drink and some "tapas" and discuss.
                Those discussions could be anything from frustration regarding some work decision we had no control of, discussion about the latest article or blog post we read and, more than anything, planning of our next steps in the continuous struggle to improve processes in our own company.
                Many successful (and some failed) improvements were implemented in our company as a result of those conversations.
                Our objective was to turn big, international and well established but, in many aspects, backward company into something more productive, modern and to be proud of.
            </p>
            <p>
                For the long time we kept those discussions for ourselves until, near the end of 2013, we decided to share our "discussions" with the world outside the close corporate environment.
                Thus, TechnologyConversations.com site was born.
            </p>
            <p>
                One of our big subjects in the conversations was Behavior-Driven Development (BDD) and ways to implement it in a company as big as the one we worked for at that time.
                BDD Assistant is the result of best-practices we found, discovered, modified or invented.
            </p>
        </div>
        <div id="tcSummaryFooter" class="panel-footer">
            <a id="tcSummaryMore" href="http://TechnologyConversations.com">More about Technology Conversations &gt;</a>
        </div>
    </div>
</article>