<div class="row">
    <div class="col-md-3" ng-include="'/app/partials/tutorialIndex.html'">
    </div>
    <article class="col-md-9">
        <figure class="pull-right">
            <img src="/app/img/tutorialStories.png">
        </figure>
        <header class="pageHeader">
            <h1 id="pageHeader">BDD Assistant Tutorial</h1>
            <h2 id="pageSubheader">Browse Stories</h2>
        </header>
        <div>
            <p>
                Browse Stories dialog allows users to navigate directories and stories, create new directories, create new, open or delete an existing story.
            </p>
            <p>
                Click the <strong>Browse Stories</strong> in the <strong>navigation menu</strong> to open the dialog.
                Once inside, you can navigate through directories (<span class="glyphicon glyphicon-book"></span>) and open any story (<span class="glyphicon glyphicon-file"></span>).
                New directory can be created by typing the name in the search field and clicking the <strong>Create New Directory</strong> (<span class="glyphicon glyphicon-plus"></span>) icon.
                <strong>Create New Story</strong> allows story creation in the selected directory.
                Each story is followed with the <strong>Delete Story</strong> (<span class="glyphicon glyphicon-remove"></span>) icon.
            </p>
        </div>
    </article>
</div>
