<div class="row">
    <div id="tutorialIndex" class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a id="tutorialIntroduction" href="#/page/tutorial">Introduction</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="pageHeader">
            <h1 id="pageHeader">BDD Assistant Tutorial</h1>
            <h2 id="pageSubheader">Introduction</h2>
        </div>
        <div>
            Welcome to the BDD Assistant Tutorial.
            Following sections will explain the main concepts in more details:
            TODO
        </div>
    </div>
</div>
