<div class="row">
    <div id="tutorialIndex" class="col-md-3" ng-include="'/app/partials/tutorialIndex.html'">
    </div>
    <div class="col-md-9">
        <div class="pageHeader">
            <h1 id="pageHeader">BDD Assistant Tutorial</h1>
            <h2 id="pageSubheader">Introduction</h2>
        </div>
        <div>
            Welcome to the BDD Assistant Tutorial.
            Following sections will explain the main concepts in more details:
            <div id="tutorialNavigation">
                <h3><a href="#/page/tutorialNavigation">Navigation</a></h3>
                The main purpose of the navigation menu is to provide quick links to major sections of the application as well as the information of the current location.
            </div>
        </div>
    </div>
</div>
