<div class="row">
    <div id="tutorialIndex" class="col-md-3" ng-include="'/app/partials/tutorialIndex.html'">
    </div>
    <div class="col-md-9">
        <div class="pageHeader">
            <h1 id="pageHeader">BDD Assistant Tutorial</h1>
            <h2 id="pageSubheader">Navigation</h2>
        </div>
        <div>
            <p>
                The main purpose of the navigation menu is to provide quick links to major sections of the application as well as the information of the current location.
            </p>
            <p>
                It consists of the <strong>page title</strong>, <strong>Browse Stories</strong> and <strong>Browse Composites</strong> links.
            </p>
            <ul>
                <li><strong>Page title</strong> displays information about the current location (i.e. View Story) and links to the home screen.</li>
                <li><strong>Browse Stories</strong> opens the dialog that allows us to open an existing of create a new story.</li>
                <li><strong>Browse Composites</strong> opens the dialog that allows us to open an existing of create a new composites class.</li>
            </ul>
            <img src="/app/img/tutorialNavigation.png">
        </div>
    </div>
</div>
